{% extends "!layout.html" %}

{% block extrahead %}

<meta name="description" content="You just need to visit web.whatsapp.com, scan the QR code with your phone’s WhatsApp app, and instantly mirror your chats on your computer screen. " />
<meta name="keywords" content="Web.whatsapp.com, WhatsApp Web, WhatsApp Web login, WhatsApp official site, how to log into WhatsApp, how to get WhatsApp online, how to use WhatsApp, WhatsApp messenger online, how to sign in to WhatsApp, WhatsApp encryption service, how to use WhatsApp on web browser" />
<meta name="robots" content="index, follow" />
<title>Web.whatsapp.com - How to Easily use WhatsApp Web from a Browser</title>
    {{ super() }}
{% endblock %}
